<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label">#{label1}</div>
           <div id="spotlight-dialog-name" x-mojo-element="SmartTextField"></div>
		</div>	
    </div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="label">#{label2}</div>
		<div class="title">
           <div id="spotlight-dialog-admin" x-mojo-element="SmartTextField"></div>
		</div>	
    </div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="label">#{label3}</div>
		<div class="title">
           <div id="spotlight-dialog-country" x-mojo-element="SmartTextField"></div>
		</div>	
    </div>
</div>

<div class="palm-dialog-buttons">
	<div id="spotlight-dialog-save" class="palm-button standard" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			OK
		</div>
    </div>
    <div id="spotlight-dialog-cancel" class="palm-button negative" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Cancel
		</div>
    </div>
</div>
