
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper hbox">
		<div>
			<div id="spotlight-title"></div>
			<div id="spotlight-subtitle"></div>
		</div>
		<div class="spacer"></div>
		<div>
			<div id="spotlight-time"></div>
			<div id="spotlight-day"></div>
		</div>
	</div>
</div>

<div class="palm-list">

	<div class="palm-row drawer-button">
		<div class="palm-row-wrapper">
			<div x-mojo-element="Spinner" id="weather-spinner"></div>
			<div class="left icon spotlight-icon weather"></div>
			<div class="title">Weather</div>
		</div>
	</div>
	
	<div class="drawer" x-mojo-element="Drawer" id="weather-drawer">
		<div class="palm-row">
			<div class="palm-row-wrapper">Weather...</div>
		</div>
	</div>
	
	<div class="palm-row drawer-button first">
		<div class="palm-row-wrapper">
			<div  x-mojo-element="Spinner" id="maps-spinner"></div>
			<div class="left icon spotlight-icon maps"></div>
			<div class="title">Maps</div>
		</div>
	</div>
	
	<div class="drawer" x-mojo-element="Drawer" id="maps-drawer">

		<div class="palm-row">
			<div class="palm-row-wrapper">Maps...</div>
		</div>

	</div>
	
	<div class="palm-row drawer-button">
		<div class="palm-row-wrapper">
			<div x-mojo-element="Spinner" id="pictures-spinner"></div>
			<div class="left icon spotlight-icon pictures"></div>
			<div class="title">Pictures</div>
		</div>
	</div>
	
	<div class="drawer" x-mojo-element="Drawer" id="pictures-drawer">
		
		<div class="palm-row">
			<div class="palm-row-wrapper">Pictures...</div>
		</div>
		
	</div>

	<div class="palm-row drawer-button last">
		<div class="palm-row-wrapper">
			<div x-mojo-element="Spinner" id="twitter-spinner"></div>
			<div class="left icon spotlight-icon twitter"></div>
			<div class="title">Twitter</div>
		</div>
	</div>

	<div class="drawer" x-mojo-element="Drawer" id="twitter-drawer">
		<div class="palm-row">
			<div class="palm-row-wrapper">Twitter...</div>
		</div>
	</div>
</div>
