
<div class="palm-dialog-content">
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label right" x-mojo-loc="">#{label1}</div>
			<div id="spotlight-dialog-name" x-mojo-element="TextField"></div>
		</div>
	</div>

	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label right" x-mojo-loc="">#{label2}</div>
			<div id="spotlight-dialog-admin" x-mojo-element="TextField"></div>
		</div>
	</div>

	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label right" x-mojo-loc="">#{label3}</div>
			<div id="spotlight-dialog-country" x-mojo-element="TextField"></div>
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div id="spotlight-dialog-save" class="palm-button standard" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			OK
		</div>
    </div>
    <div id="spotlight-dialog-cancel" class="palm-button negative" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Cancel
		</div>
    </div>
</div>
