/* This file belongs to Whendle, a clock application for the Palm Pre */

.splash-page {
	position:absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	background-color:#fff;
	background: url('splash-background.png') left bottom repeat-x;
	-webkit-border-radius: 24px;
	
	-webkit-transition-property: top;
	-webkit-transition-duration: .6s;
	-webkit-transition-timing-function: ease-in;
}

.splash-page.dismiss {
	top: -480px;
}

.splash-image {
	width: 280px;
	height: 345px;
}

.splash-status {
	font-size: 0.66em;
	position: fixed;
	bottom: 24px;
	width:100%;
}

.growler {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-color: rgba(0,0,0,0.66);
}

.growler-content {
	color: white;
	padding: 12px;
	width: 320px;
	text-shadow: black 0px 0px 8px;
}

.growler-text {
	margin: 6px;
	font-size: 16px;
	font-weight: bold;
}

.growler-spinner {
}

.finder-list {
	/* makes room for search box */
	padding-top: 46px;
}

.finder-status {
	padding-top: 8px;
	padding-bottom: 12px;
}

.finder-spinner {
	float: left;
	margin-left: 10px;
}

.finder-text {
	margin-left: 10px;
}

.finder-row .palm-row-wrapper,
.gallery-row .palm-row-wrapper {
	padding: 4px 10px 8px 10px;
}

.gallery-row-title, .gallery-row-time {
	font-size: 0.9em;
}

.gallery-row-subtitle, .gallery-row-day {
	font-size: 0.7em;
}

.gallery-row-time, .gallery-row-day {
	text-align: right;
}

.map-marker {
	position:absolute;
	z-index: 100;
	-webkit-box-align: center;
}

.map-marker>.content {
	min-width: 24px;
	min-height: 18px;
	white-space: nowrap;
	-webkit-border-image: url('map-marker.png') 12 18 / 12px 18px;
}

.map-marker>.content>.label {
	float:left;
	margin-left: 4px;
	margin-top: -2px;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #444;
}

.map-marker>.content>.clock {
	float:left;
	margin-top: -2px;
	margin-left: -4px;
}

.map-marker>.pointer {
	width: 28px;
	height: 14px;
	position: relative;
	bottom: 4px;
	margin: auto;
	background: url('map-marker-point.png') center center no-repeat;
}

#spotlight-title, #spotlight-time  {
  left: 0px;
  right: 0px;
  padding: 13px 16px 13px 16px;
  font-size: 20px;
  color: #444;
  text-shadow: #f2f2f2 0px 1px 0px;
  -webkit-palm-mouse-target: ignore;
}
#spotlight-subtitle, #spotlight-day {
  margin-top: -14px;
  padding: 0 16px 16px 16px;
  font-size: 14px;
  color: #555;
  text-shadow: none;
}

#spotlight-time, #spotlight-day {
  text-align: right;
}

#spotlight-carousel {
	position: fixed;
	font-family: sans-serif;
}

#spotlight-carousel>.tray {
	position: fixed;
	z-index: 1;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}

#spotlight-carousel>.backdrop {
	position: fixed;
	z-index: 0;
}

.weather-slide-tray {
	color: white;
	padding: 12px;
	text-shadow: black 0px 0px 8px;
}

.weather-slide-tray .currently .temperature {
	font-size: 28px;
	font-weight: bold;
	line-height: 80%;
}

.weather-slide-tray .forecast .temperature {
	font-size: 18px;
	font-weight: bold;
}

.weather-slide-tray .condition {
	font-size: 16px;
	font-weight: bold;
}

.weather-slide-tray .attribution {
	font-size: 10px;
	margin-top: 6px;
}

.weather-slide-tray .error {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 32px;
}

.weather-slide-pix {
	background-image: url('weather-hail.png') center center no-repeat;
}

.photo-slide-tray {
	color: white;
	padding: 12px;
	text-shadow: black 0px 0px 8px;
	margin-bottom: 20px;
}

.photo-slide-tray .title {
	font-size: 20px;
	font-weight: bold;
}

.photo-slide-tray .attribution {
	font-style: normal;
	font-size: 12px;
}

.photo-slide-tray .attribution>.who {
	margin: 0 4px;
	font-style: italic;
}

.palm-page-header .mini-icon {
    background: url('icon-mini.png') center center no-repeat;
}

#help, #prefs {
	padding: 4px;
	font-family: arial;
	color: #555;
}

.help-app-name {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}

.help-app-version {
	font-size: 14px;
	font-style: italic;
	color: #999;
}

.help-attribution {
	font-size: 14px;
	min-height: 18px;
	padding-left: 20px;
	margin-top: 4px;
	background: url('attribution-bullet.png') -1px left no-repeat;
}

.help-copyright {
	font-size: 12px;
	font-style: italic;
	margin: 12px 20px;
}

.help-link {
	font-family: coconut;
	float: left;
}

.help-support-group {
	margin: 10px 0 20px 0;
}

.prefs-item {
	font-family: coconut;
	font-size: 80%;
}

.prefs-item>.title {
	float: left;
}

.prefs-item>.choice {
	color: #196AD4;
}

.prefs-item>.preview {
	font-size: 16px;
	color: #666;
	font-style: italic;
	text-align: right;
	margin-top: 0px;
}

.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
}
 
.spacer {
	-webkit-box-flex: 1;
}

.start {
	-webkit-box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
}