/* This file belongs to Whendle, a clock application for the Palm Pre */

body.whendle {
	background-color: #fff;
}

.splash-page {
	position:absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	background-color:#fff;
	background: url(splash-background.png) left bottom repeat-x;
	-webkit-border-radius: 24px;
}

.splash-image {
	width: 280;
	height: 345;
}

.splash-status {
	font-size: 0.75em;
	position: fixed;
	bottom: 24px;
	width:100%;
}

.growler {
	position: absolute;
	top: -4px;
	left: 0px;
}

.growler-page {
	min-width: 100px;
	max-width: 232px;
	min-height: 40px;
	font-size: 0.8em;
	padding: 8px;
/*	opacity: 0.95; */
	background-color: #fff;
	background: url(growler-background.png) left bottom repeat-x;
	-webkit-border-radius: 4px;
}

.growler-text {
	margin-top: 4px;
}

.growler-drop1 {
	display:block;
	padding: 0 0 0 25px;
	background:url(growler-drop-left.png) left bottom no-repeat;
}
.growler-drop2 {
	display:block;
	padding: 0 25px 25px 0;
	background:url(growler-drop-right.png) right bottom no-repeat;
}

.growler-spinner {
	margin-right: 8px;
}

.finder-list {
	/* makes room for search box */
	padding-top: 46px;
}

.finder-status {
	padding-top: 8px;
	padding-bottom: 12px;
}

.finder-spinner {
	float: left;
	margin-left: 10px;
}

.finder-text {
	margin-left: 10px;
}

.finder-row .palm-row-wrapper,
.gallery-row .palm-row-wrapper {
	padding: 4px 10px 8px 10px;
}

.gallery-row {
	height: 90px;
	background: url(gallery-background.png) 0 -90px no-repeat;
}

.gallery-row.first {
	background: url(gallery-background.png) 0 0 no-repeat;
}

.gallery-list .last {
	background: url(gallery-background.png) 0 -180px no-repeat;
}

.gallery-row-name, .gallery-row-time {
	font-size: 0.9em;
}

.gallery-row-area, .gallery-row-day {
	font-size: 0.7em;
}

.gallery-row-name, .gallery-row-area {
	max-width: 180px;
	text-overflow: ellipses;
}

.gallery-row-time, .gallery-row-day {
	text-align: right;
}

.gallery-row-hour, .gallery-row-minute {
	height:60px;
	width:60px;
	background-image: url(gallery-flip-digits-white.png);
	background-position: -2px -2px;
	background-repeat: no-repeat;
}

.gallery-row-minute {
	margin-left: -2px;
}

.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
}
 
.spacer {
	-webkit-box-flex: 1;
}

.start {
	-webkit-box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
}