
<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
        <div class="icon mini-icon"></div>
        <div class="title">Preferencias</div>
	</div>
</div>

<div id="prefs">
	<span class="help-app-name"> Whendle</span>
	<span class="help-app-version"> by Fastlap Farms</span>

	<div class="palm-group unlabeled help-support-group">
		<div class="palm-list">
			<div class="palm-row first" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper prefs-item">
					<div x-mojo-element="ListSelector"id="time" x-mojo-touch-feedback="delayed"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector"id="temperature" x-mojo-touch-feedback="delayed"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ToggleButton" id="weather"></div>
					<div class="title left truncating-text"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ToggleButton" id="photos"></div>
					<div class="title left truncating-text"></div>
				</div>
			</div>
		</div>
	</div>
</div>